{{set . "title" "About me - GBlog"}}
{{set . "about" "active" }}
{{template "header.html" .}}
<div class="content">
    <div class="history-nav" id="his">
       <div class="history-title">
       About the course
       </div>
       <div class="history-cell">
        <p>
        <a href="https://www.shiyanlou.com">shiyanlou's</a>Course《Based on Revel and MgO's blog.》,The course reference：<a href="http://blog.csdn.net/joveth">joveth's</a>Article<a href="http://blog.csdn.net/jov123/article/category/2216585"> </a>
        </p>
       </div>
    </div>
</div>
{{template "footer.html" .}}